body {
  background-color: #FBFCFF;
}

.welcome{
  display: flex;
  justify-content: space-around;
  background-color: #DD6A6A;
  padding: 50px;
}

.cardImages{
  display: flex;
  flex-direction: row;
}
